

.grid1 {
    width: 90%;
    margin: auto;

.text1 {
    
    display: grid;
    grid-template-columns: 30% 25% 25% auto;
}

.p1 {
    text-align: right;
}
.text2 {
    
    display: grid;
    grid-template-columns: 30% 25% 25% auto;

}
.p2 {
    text-align: right;
}
}

