
    



@import "./header";
@import "./grid";
@import "./navigation";
@import "./item";
@import "./contacts";
@import "./fresh";
@import "./projectdetails";
@import "./grid1";

.navigation { 
    font-family: "mulish";
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 20px;
    margin-right:30px;

    .bar a {
        color: black;
        text-decoration: none;
        position: relative;
        right:12px;
        list-style-type: none;
        font-size: 20px;
    }
    .bar2 a {
        color: black;
        text-decoration: none;
        position: relative;
        right:12px;
        list-style-type: none;
        font-size: 20px;
    }

.bar li {
    display: inline-flex;
    margin: 20px;
    list-style-type: none;
   
}
.bar2  {
    display: inline-flex;
    margin: 20px;
    list-style-type: none;
}
}
















.para2 {
    color: #111111;
    font-family: "mulish";
    font-weight: 700;
   font-size: 30px;
    line-height:45px;   
}


















.walk {
 position: relative;
 left: 50px;
 width: 1050px;
}

.allt1 {
    font-family: "mulish";
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 26px;
        font-style: normal;
        width: 600px;
        position: relative;
        left: 50px;
}
.images {
    display: inline;
    position: relative;
    left: 50px;
   
}