
    



@import "./header";
@import "./grid";
@import "./navigation";
@import "./item";
@import "./contacts";
@import "./fresh";
@import "./projectdetails";

.para2 {
    color: #111111;
    font-family: "mulish";
    font-weight: 700;
   font-size: 30px;
   line-height:45px;
    
}


















.walk {
 position: relative;
 left: 50px;
 width: 1050px;
}

.allt1 {
    font-family: "mulish";
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 26px;
        font-style: normal;
        width: 600px;
        position: relative;
        left: 50px;
}
.images {
    display: inline;
    position: relative;
    left: 50px;
   
}