.header {
  margin-left: 50px;
}
.header .para1 {
  height: 75px;
  font-family: "mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #4A4FF2;
}
.header span {
  width: 490px;
  height: 191px;
  font-family: "mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #4A4FF2;
}
.header .para {
  width: 490px;
  height: 191px;
  font-family: "mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #111111;
  margin-bottom: 50px;
}
.header .tin {
  display: flex;
}
.header aside {
  position: relative;
  bottom: 75px;
  left: 70px;
  align-self: flex-end;
  margin-bottom: 50px;
  font-family: "mulish";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.grid {
  margin: 50px;
  background: #FFFFFF;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 10px;
  justify-items: center;
}
.grid .item1 {
  grid-column: 1/4;
  grid-row: 1/8;
}
.grid .item2 {
  grid-column: 4/7;
  grid-row: 1/7;
}
.grid .item3 {
  grid-column: 7/9;
  grid-row: 1/11;
}
.grid .item4 {
  grid-column: 1/4;
  grid-row: 8/16;
}
.grid .item5 {
  grid-column: 4/7;
  grid-row: 7/14;
}
.grid .item6 {
  grid-column: 7/9;
  grid-row: 11/18;
}
.grid .item7 {
  grid-column: 4/7;
  grid-row: 14/24;
}
.grid .item8 {
  grid-column: 1/4;
  grid-row: 16/24;
}
.grid .item9 {
  grid-column: 7/9;
  grid-row: 18/27;
}
.grid .item10 {
  grid-column: 4/7;
  grid-row: 23/32;
}
.grid .item11 {
  grid-column: 1/4;
  grid-row: 24/32;
}
.grid .item12 {
  grid-column: 7/9;
  grid-row: 27/32;
}

.navigation {
  color: black;
  font-family: "mulish";
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 20px;
  margin-right: 30px;
}
.navigation .bar {
  position: relative;
  right: 12px;
  list-style-type: none;
  font-size: 20px;
}
.navigation .two {
  display: flex;
  list-style-type: none;
  margin-top: 25px;
  font-size: 10px;
}
.navigation li {
  margin: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
}
.item .para1 {
  font-family: "mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  position: relative;
  left: 50px;
  width: 300px;
  height: 100px;
}
.item .list {
  display: flex;
  position: relative;
  right: 70px;
}
.item .list1 li {
  font-family: "mulish";
  font-weight: 400;
  opacity: 0.6;
  list-style-type: none;
}
.item .list2 li {
  font-family: "mulish";
  font-weight: 400;
  opacity: 0.6;
  list-style-type: none;
}

.navigation {
  font-family: "mulish";
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 20px;
  margin-right: 30px;
}
.navigation .bar {
  position: relative;
  right: 12px;
  list-style-type: none;
  font-size: 20px;
}
.navigation .two {
  display: flex;
  list-style-type: none;
  margin-top: 25px;
  font-size: 10px;
}
.navigation li {
  margin: 20px;
}

.para2 {
  color: aqua;
  font-family: "mulish";
  font-weight: 700;
  font-style: normal;
}

.main {
  display: flex;
}

.fresh {
  display: inline-flex;
  margin-left: 50px;
  margin-bottom: 30px;
}
.fresh .allt {
  font-family: "mulish";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
  width: 600px;
}
.fresh .para {
  font-family: "mulish";
  font-weight: 400px;
  font-style: normal;
  width: 700px;
}
.fresh .table {
  position: relative;
  top: 80px;
}
.fresh .table th {
  color: #111111;
  font-family: "mulish";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  font-style: normal;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.fresh .table td {
  color: #111111;
  font-family: "mulish";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  font-style: normal;
  mix-blend-mode: normal;
}

.navigation {
  color: black;
  font-family: "mulish";
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 20px;
  margin-right: 30px;
}
.navigation .bar {
  position: relative;
  right: 12px;
  list-style-type: none;
  font-size: 20px;
}
.navigation .two {
  display: flex;
  list-style-type: none;
  margin-top: 25px;
  font-size: 10px;
}
.navigation li {
  margin: 20px;
}

.para {
  font-family: "mulish";
  font-weight: 700;
  font-style: normal;
}

.allt {
  font-family: "mulish";
  font-weight: 300;
  font-style: normal;
}

.para2 {
  color: #111111;
  font-family: "mulish";
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.walk {
  position: relative;
  left: 50px;
  width: 1050px;
}

.allt1 {
  font-family: "mulish";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
  width: 600px;
  position: relative;
  left: 50px;
}

.images {
  display: inline;
  position: relative;
  left: 50px;
}/*# sourceMappingURL=style.css.map */