body {
    color: white;
    max-width: 100%;
    width: 1000px;
    height: 2000px;
    margin: 0%;
    
}

@import "./nav";

@import "./header";

.grid {
    background: #FFFFFF;
   width: 60%;
   height: auto;
    margin:100px auto;
    padding: 20px 40px 20px 40px;
    display: grid;
    grid-template-columns:  repeat(9,1fr);
    grid-template-rows:repeat(32,1fr) ;
    gap:5px;

}
  
